<input type="button" style="font-family: Arial, Helvetica, sans-serif;
					font-size: 35px;
					color: #ffffff;
					cursor:pointer;
					padding: 10px 20px;
					background-color:#1b6718;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					border-radius: 92px;
					margin-top:8px;
                    border: 0px solid #6c86a1;
                    position: fixed;
                    bottom: 15px;
                    right: 15px;
                    z-index: 100;
                    width: 75px;
                    height: 75px;" id="ok" value="+" onclick="inserir()">

<div id="divBtImprime">
    <input type="button" style="
    position: fixed;
    bottom: 175px;
    right: 15px;
    z-index: 100;
    background-image: url(./public/img/fim.png);
    background-size: contain;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    font-size: 2rem;
    border-radius: 97px;
    border-bottom-style: outset;
    " id="fimfim">
</div>

<div id="divBtConfig">
    <input type="button" onclick="Mudarestado('divConfigSistema')" style="
    position: fixed;
    bottom: 95px;
    right: 15px;
    z-index: 100;
    background-image: url(./public/img/config.png);
    background-size: contain;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    font-size: 2rem;
    border-radius: 97px;
    border-bottom-style: outset;
    " id="fimfim">
</div>

<div id="divConfigSistema" style="font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 10px;
margin-top:8px;
border: 0px solid #6c86a1;
background-color: darkslateblue;
position: fixed;
bottom: 15px;
right: 195px;
z-index: 100;
width: 50%;
display: none;
height: 500px;">
    <table id="configuracaoSistema">
        <tr>
            <td>
                <label>Item</label> </td>
            <td> <label>Preço de Custo </label> </td>
            <td> <label> Preço que você venda </label></td>
        </tr>
        <tr>
            <td> <label> Metro ² da cantoneira: </label></td>
            <td><input type="text " id="pcMETRO_QUADRADO_DA_CANTONEIRA " class="form-control " value="5 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pvMETRO_QUADRADO_DA_CANTONEIRA " class="form-control " value="7 " aria-describedby="sizing-addon2 " size="5 "></td>
        </tr>
        <tr>
            <td> <label> Preço da Ferragem: </label> </td>
            <td><input type="text " id="pcFERRAGEM " class="form-control " value="5 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pvFERRAGEM " class="form-control " value="7 " aria-describedby="sizing-addon2 " size="5 "></td>
        </tr>

        <tr>
            <td>
                <Label> PREÇODE COMPRA DO VIDRO </Label>
            </td>
        </tr>
        <tr>
            <td> </td>
            <td> <label> incolor </label></td>
            <td> <label> fumê </label> </td>
            <td>verde</td>
            <td>bronze</td>
            <td>pontilhado</td>
        </tr>
        <tr>
            <td>6mm:</td>
            <td><input type="text " id="pcVIDROINCO6 " class="form-control " value="110 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pcVIDROFUME6 " class="form-control " value="140 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pcVIDROVERD6 " class="form-control " value="140 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pcVIDROBRON6 " class="form-control " value="182 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pcVIDROPONT6 " class="form-control " value="--- " aria-describedby="sizing-addon2 " size="5 "></td>
        </tr>
        <tr>
            <td>8mm:</td>
            <td><input type="text " id="pcVIDROINCO8 " class="form-control " value="110 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pcVIDROFUME8 " class="form-control " value="182 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pcVIDROVERD8 " class="form-control " value="182 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pcVIDROBRON8 " class="form-control " value="238 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pcVIDROPONT8 " class="form-control " value="273 " aria-describedby="sizing-addon2 " size="5 "></td>
        </tr>
        <tr>
            <td>10mm:</td>
            <td><input type="text " id="pcVIDROINCO10 " class="form-control " value="189 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pcVIDROFUME10 " class="form-control " value="238 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pcVIDROVERD10 " class="form-control " value="238 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pcVIDROBRON10 " class="form-control " value="294 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pcVIDROPONT10 " class="form-control " value="362 " aria-describedby="sizing-addon2 " size="5 "></td>
        </tr>
        <tr>
            <td> PREÇO DE VENDA DOS VIDROS </td>
        </tr>
        <tr>
            <td> </td>
            <td> incolor </td>
            <td>fumê</td>
            <td>verde</td>
            <td>bronze</td>
            <td>pontilhado</td>
        </tr>
        <tr>
            <td>6mm:</td>
            <td><input type="text " id="pvVIDROINCO6 " class="form-control " value="110 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pvVIDROFUME6 " class="form-control " value="140 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pvVIDROVERD6 " class="form-control " value="140 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pvVIDROBRON6 " class="form-control " value="182 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pvVIDROPONT6 " class="form-control " value="--- " aria-describedby="sizing-addon2 " size="5 "></td>
        </tr>
        <tr>
            <td>8mm:</td>
            <td><input type="text " id="pvVIDROINCO8 " class="form-control " value="110 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pvVIDROFUME8 " class="form-control " value="182 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pvVIDROVERD8 " class="form-control " value="182 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pvVIDROBRON8 " class="form-control " value="238 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pvVIDROPONT8 " class="form-control " value="273 " aria-describedby="sizing-addon2 " size="5 "></td>
        </tr>
        <tr>
            <td>10mm:</td>
            <td><input type="text " id="pvVIDROINCO10 " class="form-control " value="189 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pvVIDROFUME10 " class="form-control " value="238 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pvVIDROVERD10 " class="form-control " value="238 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pvVIDROBRON10 " class="form-control " value="294 " aria-describedby="sizing-addon2 " size="5 "></td>
            <td><input type="text " id="pvVIDROPONT10 " class="form-control " value="362 " aria-describedby="sizing-addon2 " size="5 "></td>
        </tr>



    </table>
</div>

<div id="cabecario ">
    <p class="lead mb-3 " style="position: absolute; right: 90px; z-index: 100; ">Bem-vindo
        <%= user.name %>
    </p>
    <a href="/users/logout " class="btn btn-secondary " style="position:absolute; right: 0px; z-index: 100; ">Sair</a>
    <table width="1000px ">
        <tr width="1000px ">
            <td colspan="3 " width="800px " style="text-align:center ">
                <img src="./public/img/maisbox.png " height="150px " align="top ">
            </td>
        </tr>
        <tr>
            <td colspan="1 ">
                Tel: (12) 9 7403-3933
            </td>
            <td colspan="1 " style="padding-left:30px ">
                Tel2: (12) 97407-0510
            </td>
            <td colspan="1 " style="padding-left:30px ">
                @oglassvidros
            </td>
        </tr>
        <tr>
            <td colspan="1 ">
                Av. Charles Schnnelder, 850 - Estacionamento DICICO,Taubaté SP
            </td>

            <td colspan="1 " style="padding-left:30px ">
                meloprimax@gmail.com
            </td>

        </tr>
        <tr>
            <td colspan="3 ">
                Vidros Temperados &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; Espelhos &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; Box &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; Janelas &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; Portas &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;Corrim&atilde;o
                em Alum&iacute;nio e Vidro
            </td>
        </tr>
        <tr>
            <td colspan="3 ">
                <hr style="width:600px; ">
            </td>
        </tr>
        <tr>
            <td width="300px ">
                <div class="input-group " width="200px ">
                    <span style="float:left; " class="input-group-addon " id="sizing-addon2 ">Cliente:</span>
                    <input type="text " id="idCliente " class="form-control " style="width: 83%; border-width: thin; border-radius: 10px; float: right; " placeholder=" " aria-describedby="sizing-addon2 " size="50 ">
                </div>
            </td>
            <td width="300px ">
                <div class="input-group " style="margin-left: 20px; ">
                    <span style="float:left; " class="input-group-addon " id="sizing-addon2 ">Endereço:</span>
                    <input type="text " id="idEndereco " class="form-control " style="width: 77%; border-width: thin; border-radius: 10px; float: right; " placeholder=" " aria-describedby="sizing-addon2 " size="50 ">
                </div>
            </td>
        </tr>
        <tr>
            <td width="300px ">
                <div class="input-group ">
                    <span style="float:left; " class="input-group-addon " id="sizing-addon2 ">Bairro:</span>
                    <input type="text " id="idBairro " class="form-control " style="width: 85%; border-width: thin; border-radius: 10px; float: right; " placeholder=" " aria-describedby="sizing-addon2 " size="40 ">
                </div>
            </td>
            <td width="300px ">
                <div class="input-group " style="margin-left: 20px; ">
                    <span style="float:left; " class="input-group-addon " id="sizing-addon2 ">Cidade:</span>
                    <input type="text " id="idCidade " class="form-control " style="width: 77%; border-width: thin; border-radius: 10px; float: right; " placeholder=" " aria-describedby="sizing-addon2 " size="40 ">
                </div>
            </td>
            <td width="200px " style="margin-left: 20px; ">
                <div class="input-group ">
                    <span style="float:left; " class="input-group-addon " id="sizing-addon2 ">Data:</span>
                    <input type="text " id="idData " class="form-control " style="width: 83%; border-width: thin; border-radius: 10px; float: right; " placeholder=" " aria-describedby="sizing-addon2 ">
                </div>
            </td>
            <td width="300px " style="text-align:left; ">
                <div class="input-group ">
                    <span class="input-group-addon " id="sizing-addon2 ">Email:</span>
                    <input type="text " id="idEmail " class="form-control " style="width: 85%; border-width: thin; border-radius: 10px; float: right; " placeholder=" " aria-describedby="sizing-addon2 " size="30 ">
                </div>
            </td>
            <td width="200px ">
                <div class="input-group " style="margin-left: 20px; ">
                    <span class="input-group-addon " id="sizing-addon2 ">Telefone:</span>
                    <input type="text " id="idTelefone " class="form-control " style="width: 68%; border-width: thin; border-radius: 10px; float: right; " placeholder=" " aria-describedby="sizing-addon2 ">
                </div>
            </td>
            <td width="200px ">
                <div class="input-group " style="margin-left: 20px; ">
                    <span class="input-group-addon " id="sizing-addon2 ">Telefone:</span>
                    <input type="text " id="idCelular " class="form-control " style="width: 68%; border-width: thin; border-radius: 10px; float: right; " placeholder=" " aria-describedby="sizing-addon2 ">
                </div>
            </td>
        </tr>
        <tr>
            <td width="200px ">
                <div class="input-group ">
                    <span style="float:left; " class="input-group-addon " id="sizing-addon2 ">Pedido:</span>
                </div>
            </td>
        </tr>

    </table>
</div>

<div id="itens ">
    <table id="minhaTabela " style="width:1000px; ">
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>

        <tr>
            <td width="70px " style=" margin-left: 20px; margin-top: 12px; "></td>
            <td width="70px " style=" margin-left: 20px; margin-top: 12px; "></td>
            <td width="70px " style=" margin-left: 20px; margin-top: 12px; "></td>
            <td width="80px " style=" margin-left: 20px; margin-top: 12px; "></td>
            <td width="150px " style=" margin-left: 20px; margin-top: 12px; "></td>
            <td width="100px " style=" margin-left: 20px; margin-top: 12px; "></td>
            <td width="60px " style=" margin-left: 20px; margin-top: 12px; "></td>
            <td width="100px " style=" margin-left: 20px; margin-top: 12px; "></td>
            <td width="70px " style=" margin-left: 20px; margin-top: 12px; "></td>
        </tr>
        <tr>
            <td width="70px " style=" margin-left: 20px; margin-top: 12px; "></td>
            <td width="70px " style=" margin-left: 20px;margin-top: 12px; "></td>
            <td width="70px " style=" margin-left: 20px; margin-top: 12px; "></td>
            <td width="80px " style=" margin-left: 20px; margin-top: 12px; "></td>
            <td width="150px " style=" margin-left: 20px; margin-top: 12px; "></td>
            <td width="100px " style=" margin-left: 20px; margin-top: 12px; "></td>
            <td width="60px " style=" margin-left: 20px; margin-top: 12px; "></td>
            <td width="100px " style=" margin-left: 20px; margin-top: 12px; "></td>
            <td width="70px " style=" margin-left: 20px; margin-top: 12px; "></td>
        </tr>
        <tr>
            <td width="70px " style=" margin-left: 20px; margin-top: 12px; "></td>
            <td width="70px " style=" margin-left: 20px; margin-top: 12px; "></td>
            <td width="70px " style=" margin-left: 20px; margin-top: 12px; "></td>
            <td width="80px " style=" margin-left: 20px; margin-top: 12px; "></td>
            <td width="150px " style=" margin-left: 20px; margin-top: 12px; "></td>
            <td width="100px " style=" margin-left: 20px; margin-top: 12px; "></td>
            <td width="60px " style=" margin-left: 20px; margin-top: 12px; "></td>
            <td width="100px " style=" margin-left: 20px;margin-top: 12px; "></td>
            <td width="70px " style=" margin-left: 20px;margin-top: 12px; "></td>
        </tr>
        <tr>
            <td width="150px ">Desenho - Descri&ccedil;&atilde;o</td>
            <td width="70px ">Altura</td>
            <td width="70px ">Largura</td>
            <td width="80px ">Espess</td>
            <td width="150px ">Vidro</td>
            <td width="100px ">Alum&iacute;nio</td>
            <td width="60px ">Quant.</td>
            <td width="100px ">Valor unit&aacute;rio</td>
            <td width="70px ">TOTAL</td>
            <td width="70px " onClick="trocadisplay() ">op</td>
        </tr>

    </table>
    <table id="SOMA " style="width:900px; ">
        <tr>
            <td colspan="9 ">
                <hr>
            </td>
            <td width="70px "></td>
            <td width="70px "></td>
            <td width="80px "></td>
            <td width="150px "></td>
            <td width="100px "></td>
            <td width="60px "></td>
            <td width="100px "></td>
            <td width="70px "></td>
        </tr>
        <tr>
            <td>R$ </td>
            <td id="vista "></td>
            <td><span style="float:right; ">à vista.</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>R$ </td>
            <td id="soma1234 "></td>
            <td><span style="float:right; ">parcelado em </span></td>
            <td><input onchange="fParcela() " type="text " id="nparcelas " class="form-control " placeholder=" " aria-describedby="sizing-addon2 " value="10 " size="2 "></td>
            <td><span style="float:right; ">vezes:</span></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas " type="text " id="parcela_dt1 " value=" "></td>
            <td id="parcelado1 "></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas " type="text " id="parcela_dt2 " value=" " /></td>
            <td id="parcelado2 "></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas " type="text " id="parcela_dt3 " value=" "></td>
            <td id="parcelado3 "></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas " type="text " id="parcela_dt4 " value=" "></td>
            <td id="parcelado4 "></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas " type="text " id="parcela_dt5 " value=" "></td>
            <td id="parcelado5 "></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas " type="text " id="parcela_dt6 " value=" "></td>
            <td id="parcelado6 "></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas " type="text " id="parcela_dt7 " value=" "></td>
            <td id="parcelado7 "></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas " type="text " id="parcela_dt8 " value=" "></td>
            <td id="parcelado8 "></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas " type="text " id="parcela_dt9 " value=" "></td>
            <td id="parcelado9 "></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas " type="text " id="parcela_dt10 " value=" "></td>
            <td id="parcelado10 "></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas " type="text " id="parcela_dt11 " value=" "></td>
            <td id="parcelado11 "></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas " type="text " id="parcela_dt12 " value=" "></td>
            <td id="parcelado12 "></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <textarea rows="4 " cols="50 " style="display:none; margin: 0px; height: 520px; width: 922px; ">
CLÁUSULA PRIMEIRA- DAS OBRIGAÇÕES DA CONTRATADA
A EMPRESA O GLASS OBRIGA-SE A:
I - FORNECER OS VIDROS E EXECUTAR AS INSTALAÇÕES DA OBRA NO PRAZO ESTIPULADO CONFORME A DATA PREVISTA QUE TERÁ INÍCIO APÓS 30 DIAS UTEIS; APÓS AS MEDIDAS FINAIS FORNECIDA PELO CONTRATANTE. 
II - MANTER ESTOQUE DOS MATERIAIS, NA QUANTIDADE NECESSÁRIA PARA ASSEGURAR A CONTINUIDADE DO FORNECIMENTO DOS SERVIÇOS;
III - FORNECER A SEUS TÉCNICOS TODAS AS FERRAMENTAS E INSTRUMENTOS NECESSÁRIOS À EXECUÇÃO DOS SERVIÇOS;
IV - OBEDECER À MELHOR TÉCNICA VIGENTE E ENQUADRAR-SE RIGOROSAMENTE NAS NORMAS DA ABNT, QUANDO DA EXECUÇÃO DOS SERVIÇOS;
V - OS SERVIÇOS TERÃO GARANTIA DE 6 MESES, A PARTIR DO RECEBIMENTO DEFINITIVO;

CLÁUSULA SEGUNDA. A CONTRATADA NÃO SERÁ RESPONSÁVEL:
I - POR QUALQUER PERDA OU DANO RESULTANTE DE CASO ACIDENTAL OU DE FORÇA MAIOR, APÓS A ENTREGA DO SERVIÇO;
II - POR QUAISQUER SERVIÇOS QUE NÃO ESTEJAM LISTADOS NESTE CONTRATO.
III - SOBRE ACIDENTES COMO PERFURAÇÃO DE CANOS, DANOS NA PARTE ELÉTRICA, PINTURA E OUTROS. FICA ESTABELECIDO QUE O RESPONSÁVEL PARA REPAROS É O CONTRATANTE.

CLÁUSULA TERCEIRA - DAS OBRIGAÇÕES DO CONTRATANTE
O CONTRATANTE, DURANTE A VIGÊNCIA DESTE CONTRATO, COMPROMETE-SE A:
I - PROPORCIONAR TODAS AS FACILIDADES PARA O CONTRATADO COM SUA EQUIPE A TER ACESSO NA OBRA PARA EXECUÇÃO DO SERVIÇO; REFERENTE AO CONTRATO;
II - PROMOVER OS PAGAMENTOS DENTRO DO PRAZO ESTIPULADO NESTE CONTRATO; CONFORME O CONTRATO.
III - RECEBER OS SERVIÇOS E ASSINAR UMA ORDEM DE ENTREGA DOS SERVIÇOS PRESTADOS.

DESDE JÁ, AGRADECEMOS A PREFERÊNCIA.
TAUBATÉ, __ DE ___________ DE ____.


    __________________________________________________      _________________________________________________
               O GLASS                                                           CLIENTE

</textarea>
</div>


<div class="btn_print ">
    <button class="css3button " id="print " name="print " onClick="imprimir() ">Imprimir</button>
    <button class="css3button " id="btfabrica " value="Pedido da Fábrica " onclick="location.href='fabrica.html?' + '&pedido='+document.getElementById( 'idPedido').value + '&numerodepedidos='+document.getElementById( 'minhaTabela') + '&teste=24' +
                    '&teste2=24' ; "> Pedido da Fábrica</button>


    <div id="fundo " style="margin-top:100px; ">
        <img src="./public/img/i01.png " id="i01 " width="50px " onclick="xAtualiza( 'i01') " value="Basculante ">
        <img src="./public/img/i02.png " id="i02 " width="50px " onclick="xAtualiza( 'i02') " value="Janela 2 Folhas - 1 Fixo 1 corre com fechadura ">
        <img src="./public/img/i03.png " id="i03 " width="50px " onclick="xAtualiza( 'i03') " value="Janela 4 Folhas - 2 Fixo 2 corre com fechadura ">
        <img src="./public/img/i04.png " id="i04 " width="50px " onclick="xAtualiza( 'i04') " value="Janela 2 Folhas - 1 Fixo 1 corre com trinco ">
        <img src="./public/img/i05.png " id="i05 " width="50px " onclick="xAtualiza( 'i05') " value="Janela 4 Folhas - 2 Fixo 2 corre com trinco ">
        <img src="./public/img/i06.png " id="i06 " width="50px " onclick="xAtualiza( 'i06') " value="Porta de abrir com fixo ">
        <img src="./public/img/i07.png " id="i07 " width="50px " onclick="xAtualiza( 'i07') " value="Porta de abrir - peça unica ">
        <img src="./public/img/i08.png " id="i08 " width="50px " onclick="xAtualiza( 'i08') " value="Vidro fixo ">
        <img src="./public/img/i09.png " id="i09 " width="50px " onclick="xAtualiza( 'i09') " value="Janela 4 Folhas - 2 Fixo 2 corre com fechadura com báscula ">
        <img src="./public/img/i10.png " id="i10 " width="50px " onclick="xAtualiza( 'i10') " value="Espelho bisote ">
        <img src="./public/img/i11.png " id="i11 " width="50px " onclick="xAtualiza( 'i11') " value="Espelho lapidado ">
        <img src="./public/img/i12.png " id="i12 " width="50px " onclick="xAtualiza( 'i12') " value="Porta de alumínio ventilada ">
        <img src="./public/img/i13.png " id="i13 " width="50px " onclick="xAtualiza( 'i13') " value="Porta de alumínio ventilada ou com vidro ">
        <img src="./public/img/i14.png " id="i14 " width="50px " onclick="xAtualiza( 'i14') " value="Esquadrilha 2 folhas de vidro ">
        <img src="./public/img/i15.png " id="i15 " width="50px " onclick="xAtualiza( 'i15') " value="Esquadrilha 4 folhas de vidro ">
        <img src="./public/img/i16.png " id="i16 " width="50px " onclick="xAtualiza( 'i16') " value="Esquadrilha 3 folhas - 1 Cega, 1 Ventilada, 1 vidro ">
        <img src="./public/img/i17.png " id="i17 " width="50px " onclick="xAtualiza( 'i17') " value="Esquadrilha 4 folhas - 1 Cega, 1 Ventilada, 1 vidro, 1 tela ">
        <img src="./public/img/i18.png " id="i18 " width="50px " onclick="xAtualiza( 'i18') " value="Esquadrilha para ventilação permanente ">
        <img src="./public/img/i19.png " id="i18 " width="50px " onclick="xAtualiza( 'i19') " value="Box Canto ">
        <img src="./public/img/i20.png " id="i18 " width="50px " onclick="xAtualiza( 'i20') " value="Box Frotal ">
        </br>
        <div id="fundoOCULTO ">
            <input type="number " id="xFator " value="5 ">
            <input type="number " id="xDiversos " value="5 ">
            <input type="number " id="xFerro " value="54 ">
            <input type="number " id="xKit " value="27 ">
        </div>
    </div>

    <div id="fundo2 ">
        <img src="./public/img/v01.png " id="v01 " onclick="yAtualiza( 'v01') ">
        <img src="./public/img/v02.png " id="v02 " onclick="yAtualiza( 'v02') ">
        <img src="./public/img/v03.png " id="v03 " onclick="yAtualiza( 'v03') ">
        <img src="./public/img/v04.png " id="v04 " onclick="yAtualiza( 'v04') ">
        <img src="./public/img/v05.png " id="v05 " onclick="yAtualiza( 'v05') ">
        </br>
        <input type="number " id="yCor " value="84 ">
    </div>
    <div id="CONTROLES ">
        <div style="padding-left: 28px; float: left; ">
            <label id="lab_quant ">Qtde:</label> <br>
            <input type="number " id="quantidade " value="1 " onblur="calcula() " onchange="calcula() " style="margin-right:20px ">
        </div>
        <div style="padding-left: 28px; float: left; ">
            <input type="number " id="altura " value="2000 " onblur="calcula() " onchange="calcula() ">
            <img src="./public/img/i03.png " id="btt1 " onclick="Mudarestado( 'fundo') " style="cursor:pointer; z-index: 99 ">
            <div style="padding-left:20px ">
                <input type="number " id="largura " value="3000 " onblur="calcula() " onchange="calcula() " style="margin-right:20px ">
            </div>
        </div>
        <div>
            <div style="padding-left: 28px; float: left; ">
                <label id="lab_cor ">Cor:</label> <br>
                <img src="./public/img/v03.png " id="cor " onclick="Mudarestado( 'fundo2') " style="margin-right:20px ">
            </div>
            <div style="padding-left: 28px; float: left; ">
                <label id="lab_espess ">Espessura:</label> <br>
                <input type="text " id="espessura " onblur="yAtualiza2() " onchange="yAtualiza2() " value="8mm " style="margin-right:20px ">
            </div>
            <div style="padding-left: 28px; float: left; ">
                <label id="lab_alum ">Alum&iacute;nio:</label> <br>
                <input type="text " id="aluminio " value="Natural-Fosco " style="margin-right:20px ">
            </div>
            <div style="padding-left: 28px; float: left; ">
                <label id="lab_subtotal ">SubTotal:</label> <br>
                <input type="number " id="SubTotal " value="1 ">
                <input type="number " id="Total " value="1 ">
            </div>

            <div id="indice ">
                <input type="number " id="precoVidro " value="1 ">
                <input type="number " id="precoDiversos " value="1 ">
                <input type="number " id="precoFerro " value="1 ">
                <input type="number " id="precoKit " value="1 ">
            </div>
        </div>

    </div>
    <div id="fundo2 ">
        <img src="./public/img/v01.png " id="v01 " onclick="yAtualiza( 'v01') ">
        <img src="./public/img/v02.png " id="v02 " onclick="yAtualiza( 'v02') ">
        <img src="./public/img/v03.png " id="v03 " onclick="yAtualiza( 'v03') ">
        <img src="./public/img/v04.png " id="v04 " onclick="yAtualiza( 'v04') ">
        <img src="./public/img/v05.png " id="v05 " onclick="yAtualiza( 'v05') ">
        </br>
        <input type="number " id="yCor " value="84 ">
    </div>
</div>
<div>
    <div>
        <input type="hidden " id="hidden_i01 " value="Basculante- ">
        <input type="hidden " id="hidden_i02 " value="Janela 2 Folhas - 1 Fixo, 1 corre com fechadura ">
        <input type="hidden " id="hidden_i03 " value="Janela 2 Fixo, 2 corre- com fechadura ">
        <input type="hidden " id="hidden_i04 " value="Janela 2 Folhas - 1 Fixo, 1 corre com trinco ">
        <input type="hidden " id="hidden_i05 " value="Janela 4 Folhas - 2 Fixo, 2 corre com trinco ">
        <input type="hidden " id="hidden_i06 " value="Porta de abrir com fixo- ">
        <input type="hidden " id="hidden_i07 " value="Porta de abrir - peça unica ">
        <input type="hidden " id="hidden_i08 " value="Vidro fixo- ">
        <input type="hidden " id="hidden_i09 " value="Janela: 2 Fixo 2 corre-com fechadura com báscula ">
        <input type="hidden " id="hidden_i10 " value="Espelho bisote- ">
    </div>
    <br>
    <div>
        <input type="hidden " id="hidden_i11 " value="Espelho lapidado- ">
        <input type="hidden " id="hidden_i12 " value="Porta de alumínio ventilada- ">
        <input type="hidden " id="hidden_i13 " value="Porta de alumínio ventilada - ou com vidro ">
        <input type="hidden " id="hidden_i14 " value="Esquadrilha 2 folhas de vidro- ">
        <input type="hidden " id="hidden_i15 " value="Esquadrilha 4 folhas de vidro- ">
        <input type="hidden " id="hidden_i16 " value="Esquadrilha 3 folhas - 1 Cega, 1 Ventilada, 1 vidro ">
        <input type="hidden " id="hidden_i17 " value="Esquadrilha 4 folhas: 1 Cega - 1 Ventilada, 1 vidro, 1 tela ">
        <input type="hidden " id="hidden_i18 " value="Esquadrilha para ventilação - permanente ">
        <input type="hidden " id="hidden_i19 " value="Box Canto ">
        <input type="hidden " id="hidden_i20 " value="Box Frontal ">
    </div>
</div>
<script type="text/javascript ">
    $(document).ready(function($) {
        $("#idData ").mask("00/00/0000 ");
        var SPMaskBehavior = function(val) {
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
            },
            spOptions = {
                onKeyPress: function(val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };
        $('#idTelefone').mask(SPMaskBehavior, spOptions);
        $('#idCelular').mask(SPMaskBehavior, spOptions);
        //     $("#idData ").datepicker({
        // 	dateFormat: 'dd/mm/yy',
        // 	dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
        // 	dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        // 	dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        // 	monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        // 	monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        // 	nextText: 'Próximo',
        // 	prevText: 'Anterior'
        // });
        //     $('#idData').datepicker("widget ").css({"z-index ":999});
    });
</script>