<input type="button" style="font-family: Arial, Helvetica, sans-serif;
					font-size: 35px;
					color: #ffffff;
					cursor:pointer;
					padding: 10px 20px;
					background-color:#1b6718;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					border-radius: 92px;
					margin-top:8px;
                    border: 0px solid #6c86a1;
                    position: fixed;
                    bottom: 15px;
                    right: 15px;
                    z-index: 100;
                    width: 75px;
                    height: 75px;" id="ok" value="+" onclick="inserir()">

<div id="divBtImprime">
    <input type="button" style="
    position: fixed;
    bottom: 113px;
    right: 15px;
    z-index: 100;
    background-image: url(./public/img/fim.png);
    background-size: contain;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    font-size: 2rem;
    border-radius: 97px;
    border-bottom-style: outset;
    " id="fimfim" onclick="MudarVisibilidade('divFIMFIM')">
</div>

<div id="divBtConfig">
    <input type="button" style="
    position: fixed;
    bottom: 76%;
    right: 15px;
    z-index: 100;
    background-image: url(./public/img/maisbox.png);
    background-size: contain;
    background-color: #faebd700;
    background-position-x: center;
    border: none;
    width: 51px;
    background-repeat: no-repeat;
    font-size: 2rem;
    border-radius: 83px;
    border-bottom-style: outset;
    " id="imgConfigVidracaria" onclick="alert('editarno banco de dados')">
</div>

<div id="divBtConfig">
    <input type="button" style="
    position: fixed;
    bottom: 66%;
    right: 15px;
    z-index: 100;
    background-image: url(./public/img/config.png);
    background-size: contain;
    background-size: 136%;
    background-position-x: center;
    background-position-y: center;
    border-style: initial;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    font-size: 2rem;
    border-radius: 97px;
    border-bottom-style: outset;
    " id="imgconfig" onclick="MudarVisibilidade('divConfiguracaoSistema')">
</div>

<div id="divConfiguracaoSistema" style="font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 10px;
margin-top:8px;
border: 0px solid #6c86a1;
background-color: rgb(40, 21, 51);
position: fixed;
bottom: 10%;
right: 118px;
z-index: 100;
width: 90%;
visibility: hidden;
height: 88%;
padding-left: 20px;
padding-top: 20px;
">
    <table id="configuracaoSistema">
        <tr>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="Ítem" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="Custo" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="Venda" aria-describedby="sizing-addon2" disabled="disabled"> </td>
        </tr>
        <tr>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="Cantoneira" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcMETRO_QUADRADO_DA_CANTONEIRA" class="form-control" value="5" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pvMETRO_QUADRADO_DA_CANTONEIRA" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
        </tr>
        <tr>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="Ferragem" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEM" class="form-control" value="5" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pvFERRAGEM" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
        </tr>
    </table>
    <br>
    <table style="width: 40%; position:absolute">
        <tr>
            <td> <input style="width: 200px;" type="text" class="form-control" value="PREÇO DE COMPRA DO VIDRO" aria-describedby="sizing-addon2" disabled="disabled"> </td>
        </tr>
        <tr>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="INCOLOR" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="FUME" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="VERDE" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="BRONZE" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="PONTILHADO" aria-describedby="sizing-addon2" disabled="disabled"> </td>
        </tr>
        <tr>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="6mm" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcVIDROINCO6" class="form-control" value="110" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcVIDROFUME6" class="form-control" value="140" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcVIDROVERD6" class="form-control" value="140" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcVIDROBRON6" class="form-control" value="182" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcVIDROPONT6" class="form-control" value="---" aria-describedby="sizing-addon2" size="5"></td>
        </tr>
        <tr>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="8mm" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcVIDROINCO8" class="form-control" value="110" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcVIDROFUME8" class="form-control" value="182" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcVIDROVERD8" class="form-control" value="182" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcVIDROBRON8" class="form-control" value="238" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcVIDROPONT8" class="form-control" value="273" aria-describedby="sizing-addon2" size="5"></td>
        </tr>
        <tr>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="10mm" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcVIDROINCO10" class="form-control" value="189" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcVIDROFUME10" class="form-control" value="238" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcVIDROVERD10" class="form-control" value="238" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcVIDROBRON10" class="form-control" value="294" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcVIDROPONT10" class="form-control" value="362" aria-describedby="sizing-addon2" size="5"></td>
        </tr>
    </table>
    <table style="float: right;">
        <tr>
            <td> <input style="width: 200px;" type="text" class="form-control" value="PREÇO DE VENDA DOS VIDROS" aria-describedby="sizing-addon2" disabled="disabled"> </td>
        </tr>
        <tr>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="INCOLOR" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="FUME" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="VERDE" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="BRONZE" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="PONTILHADO" aria-describedby="sizing-addon2" disabled="disabled"> </td>
        </tr>
        <tr>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="6mm" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pvVIDROINCO6" class="form-control" value="110" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pvVIDROFUME6" class="form-control" value="140" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pvVIDROVERD6" class="form-control" value="140" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pvVIDROBRON6" class="form-control" value="182" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pvVIDROPONT6" class="form-control" value="---" aria-describedby="sizing-addon2" size="5"></td>
        </tr>
        <tr>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="8mm" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pvVIDROINCO8" class="form-control" value="110" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pvVIDROFUME8" class="form-control" value="182" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pvVIDROVERD8" class="form-control" value="182" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pvVIDROBRON8" class="form-control" value="238" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pvVIDROPONT8" class="form-control" value="273" aria-describedby="sizing-addon2" size="5"></td>
        </tr>
        <tr>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="10mm" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pvVIDROINCO10" class="form-control" value="189" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pvVIDROFUME10" class="form-control" value="238" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pvVIDROVERD10" class="form-control" value="238" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pvVIDROBRON10" class="form-control" value="294" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" id="pvVIDROPONT10" class="form-control" value="362" aria-describedby="sizing-addon2" size="5"></td>
        </tr>
    </table>

    <table style="position:absolute; margin-top: 145px; color:white">
        <tr>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="-" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <img width="26px" src="./public/img/i01.png"> </td>
            <td> <img width="26px" src="./public/img/i02.png"> </td>
            <td> <img width="26px" src="./public/img/i03.png"> </td>
            <td> <img width="26px" src="./public/img/i04.png"> </td>
            <td> <img width="26px" src="./public/img/i05.png"> </td>
            <td> <img width="26px" src="./public/img/i06.png"> </td>
            <td> <img width="26px" src="./public/img/i07.png"> </td>
            <td> <img width="26px" src="./public/img/i08.png"> </td>
            <td> <img width="26px" src="./public/img/i09.png"> </td>
            <td> <img width="26px" src="./public/img/i10.png"> </td>
            <td> <img width="26px" src="./public/img/i11.png"> </td>
            <td> <img width="26px" src="./public/img/i12.png"> </td>
            <td> <img width="26px" src="./public/img/i13.png"> </td>
            <td> <img width="26px" src="./public/img/i14.png"> </td>
            <td> <img width="26px" src="./public/img/i15.png"> </td>
            <td> <img width="26px" src="./public/img/i16.png"> </td>
            <td> <img width="26px" src="./public/img/i17.png"> </td>
            <td> <img width="26px" src="./public/img/i18.png"> </td>
            <td> <img width="26px" src="./public/img/i19.png"> </td>
            <td> <img width="26px" src="./public/img/i20.png"> </td>
            <td> <img width="26px" src="./public/img/i21.png"> </td>
            <td> <img width="26px" src="./public/img/i22.png"> </td>
            <td> <img width="26px" src="./public/img/i23.png"> </td>
            <td> <img width="26px" src="./public/img/i24.png"> </td>
            <td> <img width="26px" src="./public/img/i25.png"> </td>
            <td> <img width="26px" src="./public/img/i26.png"> </td>
            <td> <img width="26px" src="./public/img/i27.png"> </td>
            <td> <img width="26px" src="./public/img/i28.png"> </td>
            <td> <img width="26px" src="./public/img/i29.png"> </td>
            <td> <img width="26px" src="./public/img/i30.png"> </td>
            <td> <img width="26px" src="./public/img/i31.png"> </td>
            <td> <img width="26px" src="./public/img/i32.png"> </td>
            <td> <img width="26px" src="./public/img/i33.png"> </td>
            <td> <img width="26px" src="./public/img/i34.png"> </td>
            <td> <img width="26px" src="./public/img/i35.png"> </td>
            <td> <img width="26px" src="./public/img/i36.png"> </td>
            <td> <img width="26px" src="./public/img/i37.png"> </td>
        </tr>
        <tr>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="FERRAGEM" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMBASCULANTESIMPLES" class="form-control" value="44" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMBASCULANTEBF" class="form-control" value="58" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMBASCULANTEFBF" class="form-control" value="72" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMBASCULANTEBFB" class="form-control" value="98" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMBASCULANTEBFBAIXO" class="form-control" value="44" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMBASCULANTEBFALTO" class="form-control" value="58" aria-describedby="sizing-addon2" size="5"></td>

            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMJANELA2FOLHASFECHADURA" class="form-control" value="50" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMJANELA2FOLHASBATEFECHA" class="form-control" value="25" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMJANELA2FOLHASTRINCO" class="form-control" value="18" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMJANELA4FOLHASFECHADURA" class="form-control" value="63" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMJANELA4FOLHASBATEFECHA" class="form-control" value="50" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMJANELA4FOLHASTRINCO" class="form-control" value="36" aria-describedby="sizing-addon2" size="5"></td>

            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMPORTAABRIRSIMPLES" class="form-control" value="162" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMPORTAABRIRPP" class="form-control" value="324" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMPORTAABRIRPPF" class="form-control" value="324" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMPORTAABRIRPF" class="form-control" value="162" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMPORTAABRIRFPPF" class="form-control" value="324" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMPORTAABRIRFPPFTUBO" class="form-control" value="324" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMPORTAABRIRFPPFTUBOBANDEIRA" class="form-control" value="324" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMPORTACORRERFC" class="form-control" value="120" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMPORTACORRERPC" class="form-control" value="120" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMPORTACORRERPCCP" class="form-control" value="202" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMPORTACORRERFCCF" class="form-control" value="202" aria-describedby="sizing-addon2" size="5"></td>

            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMPANORAMICO" class="form-control" value="350" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMTUBULAR" class="form-control" value="330" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMSACADAS" class="form-control" value="650" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMBOX" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMBOXL" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMESPELHOLAPIDADO" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMESPELHOBIZOTE" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>

            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMESQUADRILHAPORTA" class="form-control" value="350" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMESQUADRILHAPORTAO" class="form-control" value="350" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMESQUADRILHAJANELA4FOLHAS" class="form-control" value="400" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMESQUADRILHAJANELA2FOLHAS" class="form-control" value="400" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcFERRAGEMESQUADRILHAVENEZIANACORTINA" class="form-control" value="900" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEESQUADRILHAVENAZIANA3FOLHAS" class="form-control" value="580" aria-describedby="sizing-addon2" size="5"></td>

        </tr>
        <tr>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="CANTONEIRA" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRABASCULANTESIMPLES" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRABASCULANTEBF" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRABASCULANTEFBF" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRABASCULANTEBFB" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRABASCULANTEBFBAIXO" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRABASCULANTEBFALTO" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>

            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAJANELA2FOLHASFECHADURA" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAJANELA2FOLHASBATEFECHA" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAJANELA2FOLHASTRINCO" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAJANELA4FOLHASFECHADURA" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAJANELA4FOLHASBATEFECHA" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAJANELA4FOLHASTRINCO" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>

            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAPORTAABRIRSIMPLES" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAPORTAABRIRPP" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAPORTAABRIRPPF" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAPORTAABRIRPF" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAPORTAABRIRFPPF" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAPORTAABRIRFPPFTUBO" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAPORTAABRIRFPPFTUBOBANDEIRA" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAPORTACORRERFC" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAPORTACORRERPC" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAPORTACORRERPCCP" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAPORTACORRERFCCF" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>

            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAPANORAMICO" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRATUBULAR" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRASACADAS" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRABOX" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRABOXL" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAESPELHOLAPIDADO" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAESPELHOBIZOTE" class="form-control" value="7" aria-describedby="sizing-addon2" size="5"></td>

            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAESQUADRILHAPORTA" class="form-control" value="-" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAESQUADRILHAPORTAO" class="form-control" value="-" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAESQUADRILHAJANELA4FOLHAS" class="form-control" value="-" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAESQUADRILHAJANELA2FOLHAS" class="form-control" value="-" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAESQUADRILHAVENEZIANACORTINA" class="form-control" value="-" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcCANTONEIRAESQUADRILHAVENAZIANA3FOLHAS" class="form-control" value="-" aria-describedby="sizing-addon2" size="5"></td>

        </tr>
        <tr>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="TRANSPASSE" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEBASCULANTESIMPLES" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEBASCULANTEBF" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEBASCULANTEFBF" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEBASCULANTEBFB" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEBASCULANTEBFBAIXO" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEBASCULANTEBFALTO" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>

            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEJANELA2FOLHASFECHADURA" class="form-control" value="90" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEJANELA2FOLHASBATEFECHA" class="form-control" value="90" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEJANELA2FOLHASTRINCO" class="form-control" value="90" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEJANELA4FOLHASFECHADURA" class="form-control" value="90" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEJANELA4FOLHASBATEFECHA" class="form-control" value="90" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEJANELA4FOLHASTRINCO" class="form-control" value="90" aria-describedby="sizing-addon2" size="5"></td>

            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEPORTAABRIRSIMPLES" class="form-control" value="90" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEPORTAABRIRPP" class="form-control" value="90" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEPORTAABRIRPPF" class="form-control" value="90" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEPORTAABRIRPF" class="form-control" value="90" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEPORTAABRIRFPPF" class="form-control" value="90" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEPORTAABRIRFPPFTUBO" class="form-control" value="90" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEPORTAABRIRFPPFTUBOBANDEIRA" class="form-control" value="90" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEPORTACORRERFC" class="form-control" value="90" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEPORTACORRERPC" class="form-control" value="90" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEPORTACORRERPCCP" class="form-control" value="90" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEPORTACORRERFCCF" class="form-control" value="90" aria-describedby="sizing-addon2" size="5"></td>

            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEPANORAMICO" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSETUBULAR" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSESACADAS" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEBOX" class="form-control" value="90" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEBOXL" class="form-control" value="180" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEESPELHOLAPIDADO" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEESPELHOBIZOTE" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>

            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEESQUADRILHAPORTA" class="form-control" value="-" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEESQUADRILHAPORTAO" class="form-control" value="-" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEESQUADRILHAJANELA4FOLHAS" class="form-control" value="-" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEESQUADRILHAJANELA2FOLHAS" class="form-control" value="-" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEESQUADRILHAVENEZIANACORTINA" class="form-control" value="-" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcTRANSPASSEESQUADRILHAVENAZIANA3FOLHAS" class="form-control" value="-" aria-describedby="sizing-addon2" size="5"></td>
        </tr>
        <tr>
            <td> <input style="width: 50px; height:20px; padding: 2px; font-size:9px;" type="text" class="form-control" value="KIT" aria-describedby="sizing-addon2" disabled="disabled"> </td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITBASCULANTESIMPLES" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITBASCULANTEBF" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITBASCULANTEFBF" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITBASCULANTEBFB" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITBASCULANTEBFBAIXO" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITBASCULANTEBFALTO" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>

            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITJANELA2FOLHASFECHADURA" class="form-control" value="47" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITJANELA2FOLHASBATEFECHA" class="form-control" value="47" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITJANELA2FOLHASTRINCO" class="form-control" value="47" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITJANELA4FOLHASFECHADURA" class="form-control" value="52" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITJANELA4FOLHASBATEFECHA" class="form-control" value="52" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITJANELA4FOLHASTRINCO" class="form-control" value="52" aria-describedby="sizing-addon2" size="5"></td>

            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITPORTAABRIRSIMPLES" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITPORTAABRIRPP" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITPORTAABRIRPPF" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITPORTAABRIRPF" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITPORTAABRIRFPPF" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITPORTAABRIRFPPFTUBO" class="form-control" value="50" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITPORTAABRIRFPPFTUBOBANDEIRA" class="form-control" value="50" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITPORTACORRERFC" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITPORTACORRERPC" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITPORTACORRERPCCP" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITPORTACORRERFCCF" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>

            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITPANORAMICO" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITTUBULAR" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITSACADAS" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITBOX" class="form-control" value="96" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITBOXL" class="form-control" value="180" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITESPELHOLAPIDADO" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITESPELHOBIZOTE" class="form-control" value="0" aria-describedby="sizing-addon2" size="5"></td>

            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITESQUADRILHAPORTA" class="form-control" value="-" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITESQUADRILHAPORTAO" class="form-control" value="-" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITESQUADRILHAJANELA4FOLHAS" class="form-control" value="-" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITESQUADRILHAJANELA2FOLHAS" class="form-control" value="-" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITESQUADRILHAVENEZIANACORTINA" class="form-control" value="-" aria-describedby="sizing-addon2" size="5"></td>
            <td> <input style="width: 26px; height:20px; padding: 2px; font-size:9px;" type="text" id="pcKITESQUADRILHAVENAZIANA3FOLHAS" class="form-control" value="-" aria-describedby="sizing-addon2" size="5"></td>

        </tr>
    </table>
</div>



<div id="divFIMFIM" style="font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: whitesmoke;
    border-radius: 10px;
    margin-top: 8px;
    border: 0px solid rgb(108, 134, 161);
    background-color: rgb(55, 43, 54);
    position: fixed;
    bottom: 154px;
    right: 118px;
    z-index: 100;
    width: 55%;
    visibility: hidden;
    height: 325px;
    padding-left: 35px;
">

    <p>FINALIZANDO O PEDIDO ...</p>

    <div>
        <img src="./public/img/email.png" height="30px">
        <label for="checkFimEmailCliente">Enviar Orçamento no seu email e no email do cliente </label>
    </div>

    <div>
        <img src="./public/img/whats.png" height="30px">
        <label for="checkFimWhatsAppCliente">Enviar PDF pelo Whatsapp para o cliente</label>
    </div>

    <div>
        <img src="./public/img/salvar.png" height="30px">
        <button class="btn btn-secondary" id="print" name="print" onClick="imprimir()">Salvar Para Cliente</button>
        <button class="btn btn-secondary" id="print2" name="print2" onClick="imprimirFabrica()">Salvar Para a Fábrica</button>
    </div>



</div>


<div id="cabecario">
    <a href="/users/logout" class="btn btn-secondary" style="position:absolute; right: 0px; z-index: 100;">Sair</a>


    <table style="visibility: hidden;" width="1000px">
        <tr width="1000px">
            <td colspan="3" width="800px" style="text-align:center">
                <img id="configVidracariaImagem" src="./public/img/maisbox.png" height="150px" align="top" onclick="MudarVisibilidade('infoLoja')">
            </td>
        </tr>
        <TR id="infoLoja" style="visibility: hidden;">
            <tr>
                <td id="configVidracariaTelefone1" colspan="1">
                    Tel: (12) 9 7403-3933
                </td>
                <td id="configVidracariaTelefone2" colspan="1" style="padding-left:30px">
                    Tel2: (12) 97407-0510
                </td>
                <td id="configVidracariaTwitter" colspan="1" style="padding-left:30px">
                    @oglassvidros
                </td>
            </tr>
            <tr>
                <td id="configVidracariaEndereco" colspan="1">
                    Av. Charles Schnnelder, 850 - Estacionamento DICICO,Taubaté SP
                </td>

                <td id="configVidracariaEmail" colspan="1" style="padding-left:30px">
                    meloprimax@gmail.com
                </td>

            </tr>
            <tr>
                <td colspan="3">
                    Vidros Temperados &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; Espelhos &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; Box &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; Janelas &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; Portas &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;Corrim&atilde;o
                    em Alum&iacute;nio e Vidro
                </td>
            </tr>
        </TR>

        <tr>
            <td colspan="3">
                <hr style="width:600px;">
            </td>
        </tr>
    </table>
    <table>

        <tr>
            <td width="300px">
                <div class="input-group" width="200px">
                    <span style="float:left;" class="input-group-addon" id="sizing-addon2">Cliente:</span>
                    <input type="text" id="idCliente" class="form-control" style="width: 83%; border-width: thin; border-radius: 10px; float: right;" placeholder="" aria-describedby="sizing-addon2" size="50">
                </div>
            </td>
            <td width="300px">
                <div class="input-group" style="margin-left: 20px;">
                    <span style="float:left;" class="input-group-addon" id="sizing-addon2">Endereço:</span>
                    <input type="text" id="idEndereco" class="form-control" style="width: 77%; border-width: thin; border-radius: 10px; float: right;" placeholder="" aria-describedby="sizing-addon2" size="50">
                </div>
            </td>
        </tr>
        <tr>
            <td width="300px">
                <div class="input-group">
                    <span style="float:left;" class="input-group-addon" id="sizing-addon2">Bairro:</span>
                    <input type="text" id="idBairro" class="form-control" style="width: 85%; border-width: thin; border-radius: 10px; float: right;" placeholder="" aria-describedby="sizing-addon2" size="40">
                </div>
            </td>
            <td width="300px">
                <div class="input-group" style="margin-left: 20px;">
                    <span style="float:left;" class="input-group-addon" id="sizing-addon2">Cidade:</span>
                    <input type="text" id="idCidade" class="form-control" style="width: 77%; border-width: thin; border-radius: 10px; float: right;" placeholder="" aria-describedby="sizing-addon2" size="40">
                </div>
            </td>
            <td width="200px" style="margin-left: 20px;">
                <div class="input-group">
                    <span style="float:left;" class="input-group-addon" id="sizing-addon2">Data:</span>
                    <input type="text" id="idData" class="form-control" style="width: 83%; border-width: thin; border-radius: 10px; float: right;" placeholder="" aria-describedby="sizing-addon2">
                </div>
            </td>
            <td width="300px" style="text-align:left; ">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Email:</span>
                    <input type="text" id="idEmail" class="form-control" style="width: 85%; border-width: thin; border-radius: 10px; float: right;" placeholder="" aria-describedby="sizing-addon2" size="30">
                </div>
            </td>
            <td width="200px">
                <div class="input-group" style="margin-left: 20px;">
                    <span class="input-group-addon" id="sizing-addon2">Telefone:</span>
                    <input type="text" id="idTelefone" class="form-control" style="width: 68%; border-width: thin; border-radius: 10px; float: right;" placeholder="" aria-describedby="sizing-addon2">
                </div>
            </td>
            <td width="200px">
                <div class="input-group" style="margin-left: 20px;">
                    <span class="input-group-addon" id="sizing-addon2">Telefone:</span>
                    <input type="text" id="idCelular" class="form-control" style="width: 68%; border-width: thin; border-radius: 10px; float: right;" placeholder="" aria-describedby="sizing-addon2">
                </div>
            </td>
        </tr>
        <tr>
            <td width="200px">
                <div class="input-group">
                    <span style="float:left;" class="input-group-addon" id="sizing-addon2">Pedido:</span>
                </div>
            </td>
        </tr>

    </table>
</div>

<div id="itens" style="visibility: visible;">
    <table id="minhaTabela" style="width:1000px;">
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>

        <tr>
            <td width="70px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="70px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="70px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="80px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="150px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="100px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="60px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="100px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="70px" style=" margin-left: 20px; margin-top: 12px; "></td>
        </tr>
        <tr>
            <td width="70px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="70px" style=" margin-left: 20px;margin-top: 12px;"></td>
            <td width="70px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="80px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="150px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="100px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="60px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="100px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="70px" style=" margin-left: 20px; margin-top: 12px;"></td>
        </tr>
        <tr>
            <td width="70px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="70px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="70px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="80px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="150px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="100px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="60px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="100px" style=" margin-left: 20px;margin-top: 12px;"></td>
            <td width="70px" style=" margin-left: 20px;margin-top: 12px;"></td>
        </tr>
        <tr>
            <td width="150px">Desenho - Descri&ccedil;&atilde;o</td>
            <td width="70px">Altura</td>
            <td width="70px">Largura</td>
            <td width="80px">Espess</td>
            <td width="150px">Vidro</td>
            <td width="100px">Alum&iacute;nio</td>
            <td width="60px">Quant.</td>
            <td width="100px">Valor unit&aacute;rio</td>
            <td width="70px">TOTAL</td>
            <td width="70px" onClick="trocadisplay()">op</td>
        </tr>

    </table>

    <table>
        <tr>
            <td><span>Mão de Obra: </span></td>
            <td><span style="float: right;">R$ </span></td>
            <td><input onchange="calcula()" type="text" id="maoDeObra" class="form-control" placeholder="100" aria-describedby="sizing-addon2" value="100" size="7"></td>
        </tr>
    </table>

    <table id="SOMA" style="width:900px;">
        <tr>
            <td colspan="9">
                <hr>
            </td>
            <td width="70px"></td>
            <td width="70px"></td>
            <td width="80px"></td>
            <td width="150px"></td>
            <td width="100px"></td>
            <td width="60px"></td>
            <td width="100px"></td>
            <td width="70px"></td>
        </tr>
        <tr>
            <td>R$ </td>
            <td id="vista"></td>
            <td><span style="float:right;">à vista.</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>R$ </td>
            <td id="soma1234"></td>
            <td><span style="float:right;">parcelado em </span></td>
            <td><input onchange="fParcela()" type="text" id="nparcelas" class="form-control" placeholder="" aria-describedby="sizing-addon2" value="10" size="2"></td>
            <td><span style="float:right;">vezes:</span></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas" type="text" id="parcela_dt1" value=""></td>
            <td id="parcelado1"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas" type="text" id="parcela_dt2" value="" /></td>
            <td id="parcelado2"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas" type="text" id="parcela_dt3" value=""></td>
            <td id="parcelado3"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas" type="text" id="parcela_dt4" value=""></td>
            <td id="parcelado4"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas" type="text" id="parcela_dt5" value=""></td>
            <td id="parcelado5"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas" type="text" id="parcela_dt6" value=""></td>
            <td id="parcelado6"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas" type="text" id="parcela_dt7" value=""></td>
            <td id="parcelado7"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas" type="text" id="parcela_dt8" value=""></td>
            <td id="parcelado8"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas" type="text" id="parcela_dt9" value=""></td>
            <td id="parcelado9"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas" type="text" id="parcela_dt10" value=""></td>
            <td id="parcelado10"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas" type="text" id="parcela_dt11" value=""></td>
            <td id="parcelado11"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input class="datas" type="text" id="parcela_dt12" value=""></td>
            <td id="parcelado12"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <textarea rows="4" cols="50" style="display:none; margin: 0px; height: 520px; width: 922px;">
CLÁUSULA PRIMEIRA- DAS OBRIGAÇÕES DA CONTRATADA
A EMPRESA O GLASS OBRIGA-SE A:
I - FORNECER OS VIDROS E EXECUTAR AS INSTALAÇÕES DA OBRA NO PRAZO ESTIPULADO CONFORME A DATA PREVISTA QUE TERÁ INÍCIO APÓS 30 DIAS UTEIS; APÓS AS MEDIDAS FINAIS FORNECIDA PELO CONTRATANTE. 
II - MANTER ESTOQUE DOS MATERIAIS, NA QUANTIDADE NECESSÁRIA PARA ASSEGURAR A CONTINUIDADE DO FORNECIMENTO DOS SERVIÇOS;
III - FORNECER A SEUS TÉCNICOS TODAS AS FERRAMENTAS E INSTRUMENTOS NECESSÁRIOS À EXECUÇÃO DOS SERVIÇOS;
IV - OBEDECER À MELHOR TÉCNICA VIGENTE E ENQUADRAR-SE RIGOROSAMENTE NAS NORMAS DA ABNT, QUANDO DA EXECUÇÃO DOS SERVIÇOS;
V - OS SERVIÇOS TERÃO GARANTIA DE 6 MESES, A PARTIR DO RECEBIMENTO DEFINITIVO;

CLÁUSULA SEGUNDA. A CONTRATADA NÃO SERÁ RESPONSÁVEL:
I - POR QUALQUER PERDA OU DANO RESULTANTE DE CASO ACIDENTAL OU DE FORÇA MAIOR, APÓS A ENTREGA DO SERVIÇO;
II - POR QUAISQUER SERVIÇOS QUE NÃO ESTEJAM LISTADOS NESTE CONTRATO.
III - SOBRE ACIDENTES COMO PERFURAÇÃO DE CANOS, DANOS NA PARTE ELÉTRICA, PINTURA E OUTROS. FICA ESTABELECIDO QUE O RESPONSÁVEL PARA REPAROS É O CONTRATANTE.

CLÁUSULA TERCEIRA - DAS OBRIGAÇÕES DO CONTRATANTE
O CONTRATANTE, DURANTE A VIGÊNCIA DESTE CONTRATO, COMPROMETE-SE A:
I - PROPORCIONAR TODAS AS FACILIDADES PARA O CONTRATADO COM SUA EQUIPE A TER ACESSO NA OBRA PARA EXECUÇÃO DO SERVIÇO; REFERENTE AO CONTRATO;
II - PROMOVER OS PAGAMENTOS DENTRO DO PRAZO ESTIPULADO NESTE CONTRATO; CONFORME O CONTRATO.
III - RECEBER OS SERVIÇOS E ASSINAR UMA ORDEM DE ENTREGA DOS SERVIÇOS PRESTADOS.

DESDE JÁ, AGRADECEMOS A PREFERÊNCIA.
TAUBATÉ, __ DE ___________ DE ____.


    __________________________________________________      _________________________________________________
               O GLASS                                                           CLIENTE

</textarea>
</div>









<div id="itensFabrica" style="visibility: hidden;">
    <table id="minhaTabelaFabricaEsquerda" style="position:absolute; margin-top: 108px;">
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>

    </table>
    <table id="minhaTabelaFabrica" style="width:1000px;  padding-left: 100px; display: block;">
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>

        <tr>
            <td width="70px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="70px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="70px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="80px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="150px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="100px" style=" margin-left: 20px; margin-top: 12px;"></td>

        </tr>
        <tr>
            <td width="70px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="70px" style=" margin-left: 20px;margin-top: 12px;"></td>
            <td width="70px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="80px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="150px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="100px" style=" margin-left: 20px; margin-top: 12px;"></td>
        </tr>
        <tr>
            <td width="70px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="70px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="70px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="80px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="150px" style=" margin-left: 20px; margin-top: 12px;"></td>
            <td width="100px" style=" margin-left: 20px; margin-top: 12px;"></td>
        </tr>
        <tr>
            <td width="150px">Desenho - Descri&ccedil;&atilde;o</td>
            <td width="70px">Altura</td>
            <td width="70px">Largura</td>
            <td width="80px">Espess</td>
            <td width="150px">Vidro</td>
            <td width="100px">Alum&iacute;nio</td>
            <td width="60px">Quant.</td>
        </tr>

    </table>
</div>









<div class="btn_print">


    <div id="fundo" style="margin-top:10px;">
        <div id="menuzinhoDeAbas" style="z-index: 999; width: 100%; display: block; color:white; font-size: 25px;">
            <span id="spanBasc" class="classeMenuzinhoDeAbas" onclick="trocaAba(1)">Basculante</span>
            <span id="spanJane" class="classeMenuzinhoDeAbas" onclick="trocaAba(2)">Janelas</span>
            <span id="spanPort" class="classeMenuzinhoDeAbas" onclick="trocaAba(3)">Portas</span>
            <span id="spanOutr" class="classeMenuzinhoDeAbas" onclick="trocaAba(4)">Outros</span>
            <span id="spanEsqu" class="classeMenuzinhoDeAbas" onclick="trocaAba(5)">Esquadrilhas</span>
        </div>
        <div id="fundoBasculantes" class="fundoAbasConteudo" style="margin-top: 27px;">
            <img src="./public/img/i01.png" id="i01" width="90px" onclick="xAtualiza('i01')" value="Basculante">
            <img src="./public/img/i02.png" id="i02" width="90px" onclick="xAtualiza('i02')" value="Basculante + Fixo Lateral">
            <img src="./public/img/i03.png" id="i03" width="90px" onclick="xAtualiza('i03')" value="Fixo + Basculante + Fixo">
            <img src="./public/img/i04.png" id="i04" width="90px" onclick="xAtualiza('i04')" value="Basculante + Fixo + Basculante">
            <img src="./public/img/i05.png" id="i05" width="90px" onclick="xAtualiza('i05')" value="Basculante + Fixo Baixo">
            <img src="./public/img/i06.png" id="i06" width="90px" onclick="xAtualiza('i06')" value="Basculante + Fixo Alto">
        </div>
        <br>
        <div id="fundoJanelas" class="fundoAbasConteudo" style="margin-top: 12px;">
            <img src="./public/img/i07.png" id="i07" width="90px" onclick="xAtualiza('i07')" value="Janela 2 Folhas com Fechadura">
            <img src="./public/img/i08.png" id="i08" width="90px" onclick="xAtualiza('i08')" value="Janela 2 Folhas com Bate-Fecha">
            <img src="./public/img/i09.png" id="i09" width="90px" onclick="xAtualiza('i09')" value="Janela 2 Folhas com Trinco">
            <img src="./public/img/i10.png" id="i10" width="90px" onclick="xAtualiza('i10')" value="Janela 4 Folhas com Fechadura">
            <img src="./public/img/i11.png" id="i11" width="90px" onclick="xAtualiza('i11')" value="Janela 4 Folhas com Bate-Fecha">
            <img src="./public/img/i12.png" id="i12" width="90px" onclick="xAtualiza('i12')" value="Janela 4 Folhas com Trinco">
        </div>
        <br>
        <div id="fundoPortas" class="fundoAbasConteudo" style="margin-top: -15px; padding: 0px;">
            <img src="./public/img/i13.png" id="i13" width="90px" onclick="xAtualiza('i13')" value="Porta de Abrir Simples">
            <img src="./public/img/i14.png" id="i14" width="90px" onclick="xAtualiza('i14')" value="Porta de Abrir Dupla">
            <img src="./public/img/i15.png" id="i15" width="90px" onclick="xAtualiza('i15')" value="Porta de Abrir Dupla + Fixo">
            <img src="./public/img/i16.png" id="i16" width="90px" onclick="xAtualiza('i16')" value="Porta de Abrir Simples + Fixo">
            <img src="./public/img/i17.png" id="i17" width="90px" onclick="xAtualiza('i17')" value="Porta de Abrir Dupla + 2 Fixos">
            <br>
            <img src="./public/img/i18.png" id="i18" width="90px" onclick="xAtualiza('i18')" value="Porta de Abrir Dupla + 2 Fixos + Tubo">
            <img src="./public/img/i19.png" id="i19" width="90px" onclick="xAtualiza('i19')" value="Porta de Abrir Dupla + 2 Fixos + Tubo + Bandeira">
            <img src="./public/img/i20.png" id="i20" width="90px" onclick="xAtualiza('i20')" value="Porta de Correr + Fixo">
            <img src="./public/img/i21.png" id="i21" width="90px" onclick="xAtualiza('i21')" value="Porta de Correr por trás da Parede">
            <img src="./public/img/i22.png" id="i22" width="90px" onclick="xAtualiza('i22')" value="Porta de Correr Dupla por trás da Parede">
            <img src="./public/img/i23.png" id="i23" width="90px" onclick="xAtualiza('i23')" value="Porta de Correr Dupla + 2 Fixos">
        </div>
        <br>
        <div id="fundoOutros" class="fundoAbasConteudo" style="margin-top: -18px;">
            <img src="./public/img/i24.png" id="i24" width="90px" onclick="xAtualiza('i24')" value="Panorâmico">
            <img src="./public/img/i25.png" id="i25" width="90px" onclick="xAtualiza('i25')" value="Tubular">
            <img src="./public/img/i26.png" id="i26" width="90px" onclick="xAtualiza('i26')" value="Envidrassamento de Sacadas">
            <img src="./public/img/i27.png" id="i27" width="90px" onclick="xAtualiza('i27')" value="Box Frontal">
            <img src="./public/img/i28.png" id="i28" width="90px" onclick="xAtualiza('i28')" value="Box de Canto em L">
            <img src="./public/img/i29.png" id="i29" width="90px" onclick="xAtualiza('i29')" value="Espelho Lapidado">
            <img src="./public/img/i30.png" id="i30" width="90px" onclick="xAtualiza('i30')" value="Espelho Bisote">
        </div>
        </br>
        <div id="fundoEsquadrilhas" class="fundoAbasConteudo" style="margin-top: -15px;">
            <img src="./public/img/i31.png" id="i31" width="90px" onclick="xAtualiza('i31')" value="Porta de Alumínio">
            <img src="./public/img/i32.png" id="i32" width="90px" onclick="xAtualiza('i32')" value="Portão de Alumínio">
            <img src="./public/img/i33.png" id="i33" width="90px" onclick="xAtualiza('i33')" value="Janela Vidro 4 folhas">
            <img src="./public/img/i34.png" id="i34" width="90px" onclick="xAtualiza('i34')" value="Janela Vidro 2 folhas">
            <img src="./public/img/i35.png" id="i35" width="90px" onclick="xAtualiza('i35')" value="Veneziana Cortina">
            <img src="./public/img/i36.png" id="i36" width="90px" onclick="xAtualiza('i36')" value="Veneziana 3 Folhas">
            <img src="./public/img/i37.png" id="i37" width="90px" onclick="xAtualiza('i37')" value="Janela Vidraça">
        </div>
        <div id="fundoOCULTO">
            <input type="number" id="xFator" value="5">
            <input type="number" id="xDiversos" value="5">
            <input type="number" id="xFerro" value="54">
            <input type="number" id="xKit" value="27">
        </div>
    </div>

    <div id="fundo2" style="display: none;">
        <img src="./public/img/v01.png" id="v01" onclick="yAtualiza('v01')">
        <img src="./public/img/v02.png" id="v02" onclick="yAtualiza('v02')">
        <img src="./public/img/v03.png" id="v03" onclick="yAtualiza('v03')">
        <img src="./public/img/v04.png" id="v04" onclick="yAtualiza('v04')">
        <img src="./public/img/v05.png" id="v05" onclick="yAtualiza('v05')">
        </br>
        <input type="number" id="yCor" value="84">
    </div>
    <div id="CONTROLES">
        <div style="padding-left: 28px; float: left;">
            <label id="lab_quant">Qtde:</label> <br>
            <input type="number" id="quantidade" value="1" onblur="calcula()" onchange="calcula()" style="margin-right:20px">
        </div>
        <div style="padding-left: 28px; float: left;">
            <input type="number" id="altura" value="2000" onblur="calcula()" onchange="calcula()">
            <img src="./public/img/i03.png" id="btt1" onclick="Mudarestado('fundo')" style="cursor:pointer; z-index: 99">
            <div style="padding-left:20px">
                <input type="number" id="largura" value="3000" onblur="calcula()" onchange="calcula()" style="margin-right:-57px">
            </div>
        </div>
        <div>
            <div style="padding-left: 28px; float: left;">
                <label id="lab_cor">Cor:</label> <br>
                <img src="./public/img/v03.png" id="cor" onclick="Mudarestado('fundo2')" style="margin-right:20px">
            </div>
            <div style="padding-left: 28px; float: left;">
                <label id="lab_espess">Espessura:</label> <br>
                <input type="text" id="espessura" onblur="yAtualiza2()" onchange="yAtualiza2()" value="8mm" style="margin-right:20px">
            </div>
            <div style="padding-left: 28px; float: left;">
                <label id="lab_alum">Alum&iacute;nio:</label> <br>
                <input type="text" id="aluminio" value="Natural-Fosco" style="margin-right:20px">
            </div>
            <div style="padding-left: 28px; float: left;">
                <label id="lab_subtotal">SubTotal:</label> <br>
                <input type="number" id="SubTotal" value="1">
                <input type="number" id="Total" value="1">
            </div>

            <div id="indice" style="visibility: hidden;">
                <input type="number" id="precoVidro" value="1">
                <input type="number" id="precoDiversos" value="1">
                <input type="number" id="precoFerro" value="1">
                <input type="number" id="precoKit" value="1">
            </div>
        </div>

    </div>

</div>
<div>
    <div>
        <input type="hidden" id="hidden_i01" value="Basculante-">
        <input type="hidden" id="hidden_i02" value="Janela 2 Folhas - 1 Fixo, 1 corre com fechadura">
        <input type="hidden" id="hidden_i03" value="Janela 2 Fixo, 2 corre- com fechadura">
        <input type="hidden" id="hidden_i04" value="Janela 2 Folhas - 1 Fixo, 1 corre com trinco">
        <input type="hidden" id="hidden_i05" value="Janela 4 Folhas - 2 Fixo, 2 corre com trinco">
        <input type="hidden" id="hidden_i06" value="Porta de abrir com fixo-">
        <input type="hidden" id="hidden_i07" value="Porta de abrir - peça unica">
        <input type="hidden" id="hidden_i08" value="Vidro fixo-">
        <input type="hidden" id="hidden_i09" value="Janela: 2 Fixo 2 corre-com fechadura com báscula">
        <input type="hidden" id="hidden_i10" value="Espelho bisote-">
    </div>
    <br>
    <div>
        <input type="hidden" id="hidden_i11" value="Espelho lapidado-">
        <input type="hidden" id="hidden_i12" value="Porta de alumínio ventilada-">
        <input type="hidden" id="hidden_i13" value="Porta de alumínio ventilada - ou com vidro">
        <input type="hidden" id="hidden_i14" value="Esquadrilha 2 folhas de vidro-">
        <input type="hidden" id="hidden_i15" value="Esquadrilha 4 folhas de vidro-">
        <input type="hidden" id="hidden_i16" value="Esquadrilha 3 folhas - 1 Cega, 1 Ventilada, 1 vidro">
        <input type="hidden" id="hidden_i17" value="Esquadrilha 4 folhas: 1 Cega - 1 Ventilada, 1 vidro, 1 tela">
        <input type="hidden" id="hidden_i18" value="Esquadrilha para ventilação - permanente">
        <input type="hidden" id="hidden_i19" value="Box Canto">
        <input type="hidden" id="hidden_i20" value="Box Frontal">
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function($) {
        $("#idData").mask("00/00/0000");
        var SPMaskBehavior = function(val) {
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
            },
            spOptions = {
                onKeyPress: function(val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };
        $('#idTelefone').mask(SPMaskBehavior, spOptions);
        $('#idCelular').mask(SPMaskBehavior, spOptions);
        //     $("#idData").datepicker({
        // 	dateFormat: 'dd/mm/yy',
        // 	dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
        // 	dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        // 	dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        // 	monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        // 	monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        // 	nextText: 'Próximo',
        // 	prevText: 'Anterior'
        // });
        //     $('#idData').datepicker("widget").css({"z-index":999});
    });
</script>