<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />

    <title>
        AM Vidros - Orçamento</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf8">
    <link rel="stylesheet" href="http://calculesuaobra.com.br/css/style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/ui-lightness/jquery-ui-1.10.4.custom.min.css">
    <link rel="shortcut icon" href="http://calculesuaobra.com.br/img/ico.png" type="image/x-icon" />
    <script type="text/javascript" src="http://calculesuaobra.com.br/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="http://calculesuaobra.com.br/js/jquery-ui-1.10.4.custom.js"></script>
    <script type="text/javascript" src="http://calculesuaobra.com.br/js/jquery.mask.js"></script>
    <script src="http://calculesuaobra.com.br/js/a.js"></script>


</head>

<body>
    <div class="container">
        <%- body %>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>