body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: #FFFFFF;
    margin: 0;
}

#f1 {
    position: absolute;
    left: 100px;
    opacity: 0.1;
    z-index: -2;
}

#anderson {
    position: absolute;
    top: 10px;
}

#cabecario {
    background-color: #FFFFFF;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -37%;
    z-index: 1;
}

#fundo {
    background-color: #262928;
    top: 200px;
    height: 350px;
    z-index: 9999;
}

#fundo2 {
    background-color: #262928;
    padding-top: 50px;
    z-index: 900;
}

#indice {
    width: 400px;
    height: 50px;
    position: absolute;
    left: 60%;
    top: 90%;
    z-index: 99;
    opacity: 0.8;
}

#fundoOCULTO {
    display: none;
}

#altura,
#largura,
#bt,
#cor,
#quantidade,
#espessura {
    width: 50px;
    height: 30px;
    background-color: lightslategrey;
}

#altura {
    float: inherit;
    left: 548px;
    top: 30px;
    text-align: center;
    align-items: center
}

#largura {
    padding-left: 5px;
    left: 626px;
    top: 102px;
    text-align: center;
}

#lab_quant {
    left: 410px;
    top: 55px;
    color: #e5e5e5;
}

#quantidade {
    left: 450px;
    top: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: lightslategrey;
}

#lab_cor {
    left: 730px;
    top: 42px;
    color: #e5e5e5;
}

#cor {
    left: 800px;
    top: 37px;
}

#lab_alum {
    left: 730px;
    top: 77px;
    color: #e5e5e5;
}

#aluminio {
    left: 800px;
    top: 75px;
    background-color: lightslategrey;
}

#lab_subtotal {
    left: 1000px;
    top: 67px;
    color: #e5e5e5;
}

#Total {
    left: 1080px;
    top: 50px;
    text-align: center;
}

#lab_espess {
    left: 730px;
    top: 108px;
    color: #e5e5e5;
}

#espessura {
    left: 800px;
    top: 102px;
    text-align: center;
}

#SubTotal {
    left: 800px;
    top: 170px;
    display: none;
}

#ok {
    left: 900px;
    top: 100px;
}

#precoVidro,
#precoDiversos,
#precoFerro,
#precokit,
#Total,
#xFator,
#xDiversos,
#xFerro,
#xKit,
#yCor {
    width: 70px;
    height: 50px;
}

#idCliente,
#idEndereco,
#idBairro,
#idCidade,
#idTelefone,
#idCelular,
#idEmail,
#idData,
#idPedido {
    z-index: 10;
    font-size: 9px;
}

#yCor {
    display: none;
}

#bt {
    padding-left: 5px;
    width: 50px;
    height: 50px;
}

#cor {
    background-image: url("../img/v01.png");
    background-repeat: no-repeat;
}

#CONTROLES {
    margin-left: 300px;
    background-color: #262928;
    width: 100%;
    height: 500px;
    z-index: 0;
}

#SOMA {
    display: none;
}

#itens {
    position: relative;
    width: 500px;
    height: 100px;
    left: 50%;
    margin-left: -42%;
    top: 400px;
}

.datas {
    /*	position: relative;*/
    width: 70px;
    height: 25px;
    z-index: 999;
}

table td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    position: relative;
}

#minhaTabela {
    border="1px";
}

#ander {
    z-index: 0;
}

.btn_print {
    border: 1px solid #dddddd;
    background: #262928;
    margin-left: -10%;
    /*	position:relative;*/
    /*margin: 500px auto;*/
    height: 300px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.main_menu {
    /*	position:relative;*/
    /*	margin:400px auto;*/
    height: 55px;
    text-align: center;
    /*cursor:pointer;*/
    position: fixed;
    top: 0;
    width: 100px;
    z-index: 999;
}

button.css3button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #141114;
    cursor: pointer;
    padding: 10px 20px;
    background: -moz-linear-gradient( top, #a5b0b8 0%, #a5b0b8);
    background: -webkit-gradient( linear, left top, left bottom, from(#a5b0b8), to(#a5b0b8));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 8px;
    border: 0px solid #6c86a1;
}

@media print {
    .btn_print {
        display: none;
    }
    #cabecario {
        left: 0;
        margin-left: 150px;
        margin-top: 50px;
    }
    #itens {
        margin-top: 50px;
    }
    .form-control {
        border: none;
    }
    .input-group-addon {
        font-weight: lighter;
        width: 100px;
        font-size: 11px;
    }
    #plus {
        display: none;
    }
}

.ui-datepicker {
    position: relative;
    z-index: 9000;
}

*/